    <div class="container-fluid m-0 p-0">
        <h1 class="text-center my-3">Welcome to the home page</h1>
        <div class="row">
            <div class="col-md-8">
                <img src="https://images.unsplash.com/photo-1560131565-df3a0a5e90d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=890&q=80"
                    width="100%"
                    height="auto"
                >
            </div>
            <div class="col-md-4 p-5 text-center d-flex flex-column justify-content-between">
                <h3>Looking for musical talent to join your team ??</h3>
                <p>Look no further every possible musical proffessional can be found here</p>
                <a href="/signup" class="btn btn-outline-dark">View Talent</a>
            </div>
        </div>

        
    </div>
    
        
